{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

{% liquid
  assign item_text = ''
  for block in section.blocks
    case block.type
      when 'for_menu_item'
        for i in (1..8)
          assign item_selector = 'menu_item_' | append: forloop.index
          assign item_text = item_text | append: block.settings[item_selector] | append: ','
        endfor
    endcase
  endfor

  assign text_split = item_text | split: ','
%}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      id="summary-aria"
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <a id="menu-drawer-trigger" class="btn btn--small btn--subtle font-haffer font-weight-500 cta2">
        <span>Menu</span>
      </a>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation container">
            <ul class="menu-drawer__menu has-submenu list-menu level-links" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}" class="first-level">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item menu-drawer__item-btn list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %} btn btn--small btn--subtle font-haffer font-weight-500 cta2"
                      >
                        {{ link.title | escape }}
                        {% render 'icons', icon: 'plus-minus' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button
                            class="menu-drawer__close-button link link--text focus-inset"
                            aria-expanded="true"
                            hidden
                          >
                            <span class="hidden">menu drawer close button</span>
                          </button>
                          <ul class="menu-drawer__menu list-menu level-childlink" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %} caption-c2 caption-c2-md"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details
                                    id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}"
                                    class="menu-opening"
                                    open
                                  >
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="summary menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          {% liquid
                                            assign title_handleize = grandchildlink.title | handleize
                                          %}

                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %} caption-c2 caption-c2-md"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {% render 'icons', icon: title_handleize %}
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                          {% if text_split[forloop.index] != blank %}
                                            <span class="caption-mini caption-mini-md">
                                              {{- text_split[forloop.index] -}}
                                            </span>
                                          {% endif %}
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %} btn btn--small btn--subtle font-haffer font-weight-500 cta2"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
            <div class="menu-drawer__utility-links">
              {%- if shop.customer_accounts_enabled -%}
                <a
                  href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                  class="menu-drawer__account link focus-inset large-up-hide btn btn--small btn--subtle font-haffer font-weight-500 cta2"
                >
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </a>
              {%- endif -%}
              {%- if localization.available_countries or localization.available_languages -%}
                <div class="menu-drawer__localization header-localization">
                  {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                    <noscript>
                      {%- form 'localization',
                        id: 'HeaderCountryMobileFormNoScriptDrawer',
                        class: 'localization-form'
                      -%}
                        <div class="localization-form__select">
                          <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScriptDrawer">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          <select
                            class="localization-selector link"
                            name="country_code"
                            aria-labelledby="HeaderCountryMobileLabelNoScriptDrawer"
                          >
                            {%- for country in localization.available_countries -%}
                              <option
                                value="{{ country.iso_code }}"
                                {%- if country.iso_code == localization.country.iso_code %}
                                  selected
                                {% endif %}
                              >
                                {{ country.name }} ({{ country.currency.iso_code }}
                                {{ country.currency.symbol }})
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                        <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                      {%- endform -%}
                    </noscript>

                    <localization-form class="no-js-hidden">
                      {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {% endif %}

                  {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                    <noscript>
                      {%- form 'localization',
                        id: 'HeaderLanguageMobileFormNoScriptDrawer',
                        class: 'localization-form'
                      -%}
                        <div class="localization-form__select">
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScriptDrawer">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          <select
                            class="localization-selector link"
                            name="locale_code"
                            aria-labelledby="HeaderLanguageMobileLabelNoScriptDrawer"
                          >
                            {%- for language in localization.available_languages -%}
                              <option
                                value="{{ language.iso_code }}"
                                lang="{{ language.iso_code }}"
                                {%- if language.iso_code == localization.language.iso_code %}
                                  selected
                                {% endif %}
                              >
                                {{ language.endonym_name | capitalize }}
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                        <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                      {%- endform -%}
                    </noscript>

                    <localization-form class="no-js-hidden">
                      {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </nav>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
