{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'main-blog.out.css' | asset_url | stylesheet_tag }}

{% liquid
  assign header = section.settings.header
  assign show_read_more = section.settings.show_read_more
  assign blog_item = section.settings.blog
  
%}
{% if blog_item != blank %}
  {%- paginate blog_item.articles by 6 -%}
    <div id="BlogArticles" class="main-blog section-{{ section.id }}-padding">
      <div class="container container--small">
        <h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} heading-h2 heading-h2-md">
          {% if header != blank %}
            {{ header }}
          {% else %} 
            {{ blog_item.title | escape }}
          {% endif %}
        </h1>
        <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
          {%- for article in blog_item.articles -%}
            <div
              class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {%- render 'article-card',
                article: article,
                media_height: section.settings.image_height,
                media_aspect_ratio: article.image.aspect_ratio,
                show_image: section.settings.show_image,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_excerpt: true,
                show_read_more: show_read_more
              -%}
            </div>
          {%- endfor -%}
        </div>
        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate, id: section.id , pagination_blog: true -%}
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
{% endif %}
{% schema %}
{
  "name": "t:sections.main-blog.name",
  "limit": 1,
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "All journal entries"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "default": true,
      "label": "Show read more"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "Aspect ratio 415/460"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    }
  ]
}
{% endschema %}
