<link rel="stylesheet" href="{{ 'media-and-text.out.css' | asset_url }}">
<noscript>
  {{- 'media-and-text.out.css' | asset_url | stylesheet_tag -}}
</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ settings.padding_top_mobile }}px;
    padding-bottom: {{ settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ settings.padding_top }}px;
      padding-bottom: {{ settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% liquid 
  assign metafield_image = product.metafields.custom.how_to_use_image
  assign metafield_how_to_use_warning = product.metafields.custom.how_to_use_warning
  assign metafield_how_to_use_description = product.metafields.custom.how_to_use_description_richtext | metafield_tag
%} 

<section
  class="media-and-text section-{{ section.id }}-padding"
  id="media-and-text-{{ section.id }}"
>
  <div class="media-and-text__container">
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'image' -%}
          {%- assign bs = block.settings -%}

          <div class="media-and-text__img--box">
            {% assign image = bs.image  %} 
            {% if metafield_image != blank %}
              {% assign image = metafield_image %}
            {% endif %}
              {{
                image 
                | image_url: width: 1100
                | image_tag:
                    width: imageWidth,
                    height: imageHeight,
                    sizes: '100vw',
                    widths: '375, 550, 750, 1100',
                    alt: image.alt,
                    class: 'lazy',
                    loading: 'lazy'
              }}
          </div>
        {%- when 'video' -%}
          {%- assign bs = block.settings -%}

          <video
            class="media-and-text__video lazy"
            width="100%"
            height="100%"
            poster="{{ bs.poster | image_url: width: 1200 }}"
            preload="metadata"
            autoplay
            playsinline
            loop
            mute
          >
            {% for source in bs.video.sources %}
              <source src="{{ source.url }}" type="{{ source.mime_type }}">
            {% endfor %}
          </video>
        {%- when 'text' -%}
          {%- liquid
              assign bs = block.settings
              assign description = bs.description
              assign warning = bs.warning

              if metafield_how_to_use_description != blank
                assign description = metafield_how_to_use_description
              endif

              if metafield_how_to_use_warning != blank
                assign warning = metafield_how_to_use_warning | metafield_tag
              endif
          -%}

          <div class="media-and-text__text--box">
            <span class="media-and-text__icon desctop--hide">
              {% render 'icons', icon: 'section-gradient-transparent' %}
            </span>
            <span class="media-and-text__icon mobile--hide">
              {% render 'icons', icon: 'section-gradient-transparent-vertical' %}
            </span>

            {% if bs.title != blank %}
              <h2 class="media-and-text__title heading-h2">
                {{ bs.title }}
              </h2>
            {% endif %}

            {% if description != blank %}
              <div class="media-and-text__description body-b2">
                {{ description }}
              </div>
            {% endif %}
            
            {% if warning != blank %}
              <div class="media-and-text__warning body-b3">
                {{ warning }}
              </div>
            {% endif %}
          </div>
      {%- endcase -%}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Media and text",
  "settings": [
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Video",
      "type": "video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "richtext",
          "id": "description_mobile",
          "label": "Description mobile"
        },
        {
          "type": "richtext",
          "id": "warning",
          "label": "Second description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Media and text",
      "settings": {}
    }
  ]
}
{% endschema %}
