{{ 'text-with-image-cards.out.css' | asset_url | stylesheet_tag }}

{% liquid 
    assign title = section.settings.title
    assign richtext = section.settings.richtext
    assign button_label = section.settings.button_label
    assign button_link = section.settings.button_link
    assign background_color = section.settings.background_color
%} 

{% style %} 
    .text-with-cards--{{ section.id }} {
        background-color: {{ background_color }};
    }
{% endstyle %}

<div class="text-with-cards text-with-cards--{{ section.id }}">
    <div class="container container--medium">
        <div class="text-with-cards__wrapper">
            <div class="text-with-cards__content">
                <div class="text-with-cards__content-block">
                    {% if title != blank %}
                        <h2 class="text-with-cards__title heading-h2 heading-h2-md">{{ title }}</h2>
                    {% endif %}
                    {% if richtext != blank %}
                        <div class="text-with-cards__richtext body-b2 body-b2-md">{{ richtext }}</div>
                    {% endif %}
                    {% if button_label != blank and button_link != blank  %}
                        <a href={{ button_link }} class="btn btn--large btn--subtle font-haffer font-weight-500">{{ button_label }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="text-with-cards__images">
                <div class="text-with-cards__image-item">
                    {%- for block in section.blocks -%}
                        {% liquid
                        assign image = block.settings.image
                        %} 
                        <div class="text-with-cards__image text-with-cards__image--{{ forloop.index }}">
                            <div class="text-with-cards__overlay"> </div>
                            <img class="lazy" 
                                loading="lazy" 
                                src="{{ image | img_url: '100x' }}" 
                                data-src="{{ image | img_url: '450x' }}"
                                alt="image-card--{{ forloop.index }}"
                            >
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</div>
  

</div>
{% schema %}
  {
    "name": "Text with image cards",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "image_card",
        "name": "Image card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image card"
          }
        ]
      }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Learn About Longevity",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "richtext",
            "default": "<p>With everything from breaking science to actionable advice and strategies, our library is your oracle for knowledge to optimize health, and performance and give you more control over your health span. </p>",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "Browse the Library",
            "label": "Button text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "color_background",
            "id": "background_color",
            "label": "Background color"
        }
    ],
    "presets": [
      {
        "name": "Text with image cards"
      }
    ]
  }
{% endschema %}